[Desktop Entry]
Type=Application
Version=18.1
Name=Quartus Prime 18.1 Prime Lite
Comment=Quartus (Quartus Prime 18.1) Lite Edition
Icon=/home/embeepee/intelFPGA_lite/18.1/quartus/adm/quartusii.png
Exec=distrobox enter fedora42 -- /home/embeepee/intelFPGA_lite/18.1/quartus/bin/quartus
Terminal=false
